p {
  color: #000000;
  font-weight: bold;
  font-size: 20;
}
.hero {
  background-color: #000000;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
footer {
  background-color: black;
  color: #000000;
}
section {
  padding-top: 4.5rem;
}
a:active {
  color: black;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
