p {
  color: #000000;
}
.hero {
  background-color: #000000;
}
#connect {
  background-color: #4e4e4e;
}
#contact {
  background-color: #4e4e4e;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
#about {
  background-color: #4e4e4e;
}
footer {
  background-color: black;
  color: #000000;
}
section {
  padding-top: 4.5rem;
}
a:active {
  color: black;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
