body {
  background-color: #000000;
}
h1 {
  color: #ffffff;
  font-family: Share Tech Mono;
}
p {
  color: #ffffff;
  font-family: Kalam;
}
section {
  padding-top: 4.5rem;
}
a {
  text-decoration: none;
}
a:active {
  color: white;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
