@font-face {
  font-family: "Karo";
  src: local("Karo"), local("Karo"), url("./Karo.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
body {
  background-color: #000000;
}
h1 {
  color: #ffffff;
  font-family: Share Tech Mono;
}
p {
  color: #ffffff;
  font-family: Kalam;
}
#Typed {
  font-family: montserrat;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
}
.karo {
  color: #ffffff;
  font-family: Karo;
}
section {
  padding-top: 4.5rem;
}
a {
  text-decoration: none;
}
a:active {
  color: white;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
