@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: auto;
}

body {
	min-height: 100vh;
	background-color: #000000;
  font-family: 'Poppins', sans-serif;
  color: white;
}
#mindmap {
  background-color: #072541;
}
#Typed {
  font-weight: 600;
  //font-style: italic;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
font-size: 1.875rem;
line-height: 2.25rem;
}
h2 {
font-size: 1.5rem;
line-height: 2rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}