:root {
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: auto;
}

body {
	min-height: 100vh;
	background-color: #000000;
}
h1 {
  color: #ffffff;
  font-family: Share Tech Mono;
}
p {
  color: #ffffff;
  font-family: Kalam;
}
#Typed {
  font-family: montserrat;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
}
a {
  text-decoration: none;
}
a:active {
  color: white;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
.tengah {
  text-align: center !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.putih {
  color: white;
}
.top-4{margin-top:1.5rem!important}
.bottom-4{margin-bottom:1.5rem!important}
.top-5{margin-top:3rem!important}
.bottom-5{margin-bottom:3rem!important}
.bottom-2{padding-bottom:.5rem!important}
h1,h2,h3{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2}
h1{font-size:calc(1.375rem + 1.5vw)}
@media (min-width:1200px) {h1{font-size:2.5rem}}
h2{font-size:calc(1.325rem + .9vw)}
@media (min-width:1200px) {h2{font-size:2rem}} 
h3{font-size:calc(1.3rem + .6vw)}
@media (min-width:1200px) {h3{font-size:1.75rem}}

// Password Generator
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgb(4, 1, 45);
  font-size: 18px;
  font-family: 'Montserrat';
  color: rgb(212, 212, 212);
}
form {
  width: 100%;
  font-size: 20px;
}
button[type='submit'] {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  background-color: royalblue;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 6px;
}
.result {
  background-color: rgb(220, 233, 243);
  position: relative;
  margin-bottom: 30px;
  border-radius: 6px;
  overflow: hidden;
}
.result #result {
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  padding: 10px;
}
.result .clipboard {
  width: 15%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
  background-color: royalblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}