.container {
  max-width: 180rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}
.main {
  color: #ffffff;
  font-family: monospace;
}
.footer {
  background-color: black;
  color: #000000;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
.gallery {
  display: grid;
  padding: 2px;
  transition: 0.3s;
  justify-content: center;

  &:hover &__image {
    filter: grayscale(1);
  }

  &__column {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  &__link {
    margin: 2px;
    overflow: hidden;

    &:hover {
      .gallery__image {
        filter: grayscale(0);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    margin-bottom:3rem!important;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    transition: 0.3s;
  }
}

@media all and (orientation:portrait) {
    .gallery {
         display: none;
    }
}