.main {
  color: #ffffff;
  font-family: monospace;
}
// Link-in-bio
.button_area {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  justify-content: space-between;
  flex-wrap: wrap;
  width: clamp(250px, 50%, 500px);
}
.a {
  padding: 20px;
  margin: 8px 8px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background: #050A30;
  border-radius: 16px;
  border: #161d19 groove;
  transition: transform 0.5s ease-in-out 0.125s, background-color 0.5s ease-in-out 0.125s, color 0.5s ease-in-out 0.125s;
}

.a:hover {
  transform: translateY(-10px);
  background-color: #1863D6;
}
.abelajar{
  padding: 24px;
  margin: 12px 12px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background: #050A30;
  border-radius: 16px;
  border: #161d19 groove;
  transition: transform 0.5s ease-in-out 0.125s, background-color 0.5s ease-in-out 0.125s, color 0.5s ease-in-out 0.125s;
}

.abelajar:hover {
  transform: translateY(-12px);
  background-color: #1863D6;
}
