$irenk: #161d19;
$tirenk: #000000;
$ilahi: #e0e0e0;
$ijo: #347a3d;
$biru: #050A30;
$birulagi: #1863D6;

.main {
  color: #ffffff;
  font-family: monospace;
}
.footer {
  background-color: $tirenk;
  color: $ilahi;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
// Gallery
.grid {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
.gallery {
  display: grid;
  padding: 2px;
  transition: 0.3s;
  justify-content: center;

  &:hover &__image {
    filter: grayscale(1);
  }

  &__column {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  &__link {
    margin: 2px;
    overflow: hidden;

    &:hover {
      .gallery__image {
        filter: grayscale(0);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    margin-bottom: 3rem !important;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: $ilahi;
    opacity: 0;
    transition: 0.3s;
  }
}

@media all and (max-width: 578px) {
  .gallery {
    display: none;
  }
}
// Link-in-bio
.content {
  margin: 0;
  display: grid;
  place-items: center;
}
.button_area {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 500px;
}
.a {
  padding: 25px;
  margin: 1em 2.4em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: $ilahi;
  background: $biru;
  border-radius: 16px;
  border: #161d19 groove;
  transition: transform 0.5s ease-in-out 0.125s, background-color 0.5s ease-in-out 0.125s, color 0.5s ease-in-out 0.125s;
}

.a:hover {
  transform: translateY(-10px);
  background-color: $birulagi;
  color: $ilahi;
}

@media all and (max-width: 425px) {
  .button_area .a {
    width: 375px;
  }
}

@media all and (max-width: 375px) {
  .button_area .a {
    width: 325px;
  }
}